{%extends 'all-personal/base.html'%}

{% block content %}
{{block.super}}

<div class="container">

    <!-- Looping through Photos -->
    {% for image in images %}

    <div class="row">
        <!-- displaying Personal Images -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center">{{image.title }}</h2>
        </div>
         <!--Display uploaded   images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{image.image.url}}" class="img-responsive" alt="Image">
        </div>
    
      </div>

        {% empty %}
        <div class="row">
            <!-- <h2 class="text-center">More Images to be added</h2> -->
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}